

header {
    background-color: #76282A;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    flex: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #76282A;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

.items-section {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 90px;
    /* Increased padding */
    width: 40%;
    max-width: 900px;
    margin: 70px auto;
}

.items-section h2 {
    color: #76282A;
    text-align: center;
    margin-bottom: 20px;
}

.item-list {
    list-style: none;
    padding: 0;
}

.item-list li {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.item-list li:hover {
    background-color: #eaeaea;
}




  .card-header {
    background-color: #8b0000;
    color: white;
    font-size: 1.5em;
    text-align: center;
  }
  .card {
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
  }
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
  }
  .card-body {
    position: relative;
  }
  .card-footer {
    background-color: #ffffff;
    border-top: 0;
  }
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .username {
    font-weight: bold;
  }
  .description {
    font-size: 0.9em;
    color: #333;
  }


  .header-box {
    text-align: center;
    color: #fff;
}

.header-box h1 {
    margin: 0;
}

body{
    background: #eee;
    overflow: hidden;
   }

   #side_nav{
    background: #5c1c1c;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    padding-bottom: 20px;
    position: sticky;
   }
   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #eee;
   }



   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #eee;
   }

   .sidebar li.active,
   .sidebar li.active:hover {
       background: #7c4646;
       border-radius: 8px;
   }



   .sidebar li a{
    color: #fff;
   }
   @media (max-width: 600px) {
    .header, .profile, .button {
        flex-direction: column;
        align-items: flex-start;
    }
}

.logout-link{
    margin-top: 300px;
}
