body {
    background-color: #f8f9fa;
    overflow: hidden;
}

.header {
    background-color: #812424;
    color: white;
    padding: 35px 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-list {
    background-color: white;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
}

.message-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-content {
    flex-grow: 1;
}

.unread {
    font-weight: bold; /* Example styling for unread messages */
}

.unread {
    font-weight: bold; /* Example styling for unread messages */
}

.message-time {
    color: #999;
    font-size: 0.8em;
}

.header-box {
    text-align: center;
    color: #fff;
}

.header-box h1 {
    margin: 0;
}

body{
    background: #eee;
   }

   #side_nav{
    background: #5c1c1c;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    padding-bottom: 20px;
    position: sticky;
   }
   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #eee;
   }



   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #eee;
   }

   .sidebar li.active,
   .sidebar li.active:hover {
       background: #7c4646;
       border-radius: 8px;
   }



   .sidebar li a{
    color: #fff;
   }
   @media (max-width: 600px) {
    .header, .profile, .button {
        flex-direction: column;
        align-items: flex-start;
    }
}

body{
    background: #eee;
   }

   #side_nav{
    background: #5c1c1c;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
   }
   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #eee;
   }

   .sidebar li.active,
   .sidebar li.active:hover {
       background: #7c4646;
       border-radius: 8px;
   }



   .sidebar li a{
    color: #fff;
   }

   @media(max-width: 767px){
    #side_nav{
      margin-left: -250px;
      position: absolute;
      min-height: 100vh;
      z-index: 1;

    }
    #side_nav.active{
      margin-left: 0;
     }
   }

   .logout-link{
    margin-top: 470px;
}
.close-btn {

    position: absolute;
    top: 20px; /* Adjust top position */
    right: 20px; /* Adjust right position */
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999; /* Ensure it's below the menu button */
}
.menu-btn {
    position:static;
    top: 30px; /* Adjust top position */
    margin-top: 10px;
    left: 20px; /* Adjust left position */
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Ensure it's above other elements */
}
