
.profile-card {
    max-width: 300px;
    background-color: #5a3131;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(1, 0, 0, 0.1);
    margin: auto;
}

.profile-card img {
    width: 100%;
    border-radius: 15px;
}

.profile-details {
    margin-top: 20px;
}

.profile-details h2 {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

.profile-details p {
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    text-align: left;
}

.bg-dark-blue {
    background-color: #f1f3f5;
}

.text-dark-blue {
    color: #343a40;
    background-color: #5a3131;
}

.btn-primary {
    background-color: #7a3535; /* Change button background color */
    border-color: #7a3535; /* Change button border color */
}

.btn-primary:hover {
    background-color:#7a3535 ; /* Change button background color on hover */
    border-color: #7a3535; /* Change button border color on hover */
}
@media (max-width: 600px) {
    .header, .profile, .button {
        flex-direction: column;
        align-items: flex-start;
    }
}


.header-box {
    text-align: center;
    color: #fff;
}

.header-box h1 {
    margin: 0;
}

body{
    background: #eee;
    overflow: hidden;
   }

   #side_nav{
    background: #5c1c1c;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    padding-bottom: 20px;
    position: sticky;
   }
   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #eee;
   }



   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #eee;
   }

   .sidebar li.active,
   .sidebar li.active:hover {
       background: #7c4646;
       border-radius: 8px;
   }



   .sidebar li a{
    color: #fff;
   }
   @media (max-width: 600px) {
    .header, .profile, .button {
        flex-direction: column;
        align-items: flex-start;
    }
}

.logout-link{
    margin-top: 300px;
}
