body {
    background-color: #76282A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    overflow: hidden;
}

@media only screen and (max-width: 700px) {
    body {
        margin: auto;
    }
    .section {
        margin: auto;
    }
}

.header {
    margin-bottom: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.login-form {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 301px;
    margin: auto;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input-group input {
    display: block;
    padding: 7.2px;
    border-radius: 7px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.racetrack-button {
    background-color: #763A3A;
    box-shadow: 0 0 0 2px #0e0d0d; /* Added spread radius */
    color: white;
    padding: 10px 20px;
    width: auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.racetrack-button:hover {
    background-color: #763A3A;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer a {
    color: #a52a2a;
    text-decoration: none;
    font-size: 14px;
}

.section {
    width: auto;
    border-radius: 30px;
    background-color: #76282A;
    margin-top: 50px;
}

header {
    padding: 30px;
    border-color: #ffffff;
    margin-top: 20px;
}

h1 {
    color: whitesmoke;
}
